.design16 {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.design16 th {
 padding: 10px;
 border: solid 1px #ffffff;
}
.design16 th:nth-child(1) {
 background: #0000ff;
}
.design16 th:nth-child(2) {
 background: #2f4f4f;
}
.design16 th:nth-child(3) {
 background: #ff00ff;
}
.design16 td {
 padding: 10px;
 border: solid 1px #ffffff;
}
.design16 td:nth-child(1) {
 background: #1e90ff;
}
.design16 td:nth-child(2) {
 background: #8fbc8f;
}
.design16 td:nth-child(3) {
 background: #ee82ee;
}
